<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .blue {
            border-color: lightskyblue;
        }

        .red {
            border-color: lightcoral;
        }
    </style>
</head>

<body>

    <div id="app">

        <carList />
        <h1>{{carName}}</h1>

        <form>
            Car Name: <input type="text" v-model="newCar">
            <button @click.prevent.stop="insertCar">insert car</button>


            <input value="send" type="submit">
        </form>
        <ul>
            <li v-for="car in cars"> {{car.name | captalize | myCar}} </li>
        </ul>


    </div>

    <script src="./vue.js"></script>
    <script src="./main.js"></script>
</body>

</html>